@page
@model prjShoeStore.Pages.htmlPage.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AWTO4yApuMEFaiwvpojaDAZbCinT0fGo0VnaOrAoBwb9e2e_3ce13cIgc593rbmyjWc8RqO20qZzo6-s"></script>
</head>
<body>
</body>
</html>
