@page
@model prjShoeStore.Areas.Admin.Pages.OrderPage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "Templates/_LayoutIndex";
}

<h1>Edit</h1>

<h4>DonDatHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonDatHang.Id" />
            <div class="form-group">
                <label asp-for="DonDatHang.NgayLap" class="control-label"></label>
                <input asp-for="DonDatHang.NgayLap" class="form-control" />
                <span asp-validation-for="DonDatHang.NgayLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.TenNguoiNhan" class="control-label"></label>
                <input asp-for="DonDatHang.TenNguoiNhan" class="form-control" />
                <span asp-validation-for="DonDatHang.TenNguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.DiaChiNguoiNhan" class="control-label"></label>
                <input asp-for="DonDatHang.DiaChiNguoiNhan" class="form-control" />
                <span asp-validation-for="DonDatHang.DiaChiNguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.SoDienThoai" class="control-label"></label>
                <input asp-for="DonDatHang.SoDienThoai" class="form-control" />
                <span asp-validation-for="DonDatHang.SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.IdKHachHang" class="control-label"></label>
                <select asp-for="DonDatHang.IdKHachHang" class="form-control" asp-items="ViewBag.IdKHachHang"></select>
                <span asp-validation-for="DonDatHang.IdKHachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.IdNhanVien" class="control-label"></label>
                <select asp-for="DonDatHang.IdNhanVien" class="form-control" asp-items="ViewBag.IdNhanVien"></select>
                <span asp-validation-for="DonDatHang.IdNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.IdNVGiaoHang" class="control-label"></label>
                <input asp-for="DonDatHang.IdNVGiaoHang" class="form-control" />
                <span asp-validation-for="DonDatHang.IdNVGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonDatHang.TrangThai" class="control-label"></label>
                <select asp-for="DonDatHang.TrangThai" class="form-control"></select>
                <span asp-validation-for="DonDatHang.TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
